*.class

#package file
*.war
*.ear

#kdiff3 ignore
*.orig

#eclipse
*.settings
*.project
*.classpath

#maven
target/

#idea
.idea/
/idea/
*.ipr
*.iml
*.iws

#tmpe file
*.log
*.cache
*.diff
*.patch
*.tmp

#system ignore
.DS_Store
Thumbs.db




